# Default ignored files
/../../../:FUN_FIVE_UPDATE/.idea/shelf/
/../../../:FUN_FIVE_UPDATE/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:FUN_FIVE_UPDATE/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:FUN_FIVE_UPDATE/.idea/dataSources/
/../../../:FUN_FIVE_UPDATE/.idea/dataSources.local.xml
